version: '3.8'

services:
  api:
    build: 
      context: ./backend
    container_name: api-backend
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - "4004:4004"
    depends_on:
      - postgres
    env_file:
      - ./backend/.env

  postgres:
    image: postgres:16
    container_name: postgres-db
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
