<main class="main-content">
  <!-- <div class="filters">
    <button class="filter-btn active">Todos</button>
    <button class="filter-btn">Mais Curtidos</button>
    <button class="filter-btn">Recentes</button>
    <button class="filter-btn">Populares</button>
    <button class="filter-btn">Disponíveis</button>
  </div> -->

  <div class="books-grid">
    <app-card-book
      title="O Senhor dos Anéis"
      author="J.R.R. Tolkien"
      category="Fantasia"
      synopsis="Uma jornada épica através da Terra Média..."
      [likes]="245"
      [stars]="3"
      status="Disponível"
    >
    </app-card-book>
  </div>
</main>
