.container{
    width: 100%;
    height: 100vh;
}

.wrapper {
  margin-left: 280px;
  margin-top: 70px;
  padding: 2rem;
  background: #f5f7fa;
  min-height: calc(100vh - 70px);
  display:flex ;
  flex-direction: column;
  gap: 1.5rem;
}

